:root
    --primary-color: #121212
    --inverted-primary-color: #e0e0e0
    --primary-border: #cdcdcda3
    --inverted-primary-border: #2a2a2a
    --primary-with-opacity: #13131370
    --inverted-primary-with-opacity: #33333390

    --secondary-color: #ffffff
    --inverted-secondary-color: #f02513

    --inverted-secondary-darker-color: #af1102
    

    --black-color: #000
    --dark-gray-color: hsla(0, 100%, 100%, 0.07)
    --light-gray-color:#d7d7d7
    --white-color: #ffffff

    --primary-font-family: Inter
    --secondary-font-family: Montserrat

    --font-sise-s: 12px
    --font-size-m: 16px
    --font-size-l: 24px
    
    --font-weight-s: 300
    --font-weight-m: 500
    --font-weight-l: 700

    --border-radius-s: 5px
    --border-radius-m: 10px
    --border-radius-l: 15px

    --transition-duration-s: .3s
    --transition-duration-m: .6s
    --transition-duration-l: .9s

    --container: 1200px
    